<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.web.searches</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>0B629748-2068-4345-BA43-5772F37C3013</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>311CADC9-01B1-4DFD-8625-A41B6D1A72F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14F1C35D-3003-4E57-B6FF-6C15CCA4000A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B873AF1-35BA-49E8-B24D-12F7FABB9DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A47BFDF6-6ACA-4962-926A-ED426EDFA5E2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in Chrome</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>23A8F1A5-6183-4943-84D2-D9E7B9DA9A72</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search Reddit for most recent</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23A8F1A5-6183-4943-84D2-D9E7B9DA9A72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B629748-2068-4345-BA43-5772F37C3013</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30363A54-691F-4C41-8BB7-775A8D39897E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25640D91-BD2C-434C-8EA4-58A0910139D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35851EE6-88B6-4D0C-9EDB-F0BFA70BB8CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30363A54-691F-4C41-8BB7-775A8D39897E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BF449D5-9697-4E10-A810-5005F0720FC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35851EE6-88B6-4D0C-9EDB-F0BFA70BB8CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87300B30-01BD-4E56-9FDC-DE6B018FFB13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E64FE037-5BDA-41B1-9D90-EEE5BAE54551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BD35783-7FBB-4EF3-99B6-81683B970D8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA9A5CC0-97D9-41C2-84A6-8E3DD62803D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E596155-99EA-4741-93A6-2F044D5AA0CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BF449D5-9697-4E10-A810-5005F0720FC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B873AF1-35BA-49E8-B24D-12F7FABB9DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C94BCEFA-1DEE-4E57-AADB-25226571390C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A47BFDF6-6ACA-4962-926A-ED426EDFA5E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EED04421-505D-4F14-86D2-AF4664DD2602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7FC16DD-E9D4-42BD-BACA-959DDB472C21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44998311-C8A5-4011-AAE6-6A13032F27CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2F200AE-7909-4604-9E4A-3AA8998FB3E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDE5299D-A193-48A9-89FE-C3444151206B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5CF1F7E8-057F-4F60-9028-95DE18487EE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C94BCEFA-1DEE-4E57-AADB-25226571390C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A16C9145-6939-48CC-8054-EF9FD220B697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA146CA4-790E-4E92-9EDD-61BDC877DFF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14F1C35D-3003-4E57-B6FF-6C15CCA4000A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD325779-BAE8-47FC-938B-8FC107AAF9D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E596155-99EA-4741-93A6-2F044D5AA0CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E64FE037-5BDA-41B1-9D90-EEE5BAE54551</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BD35783-7FBB-4EF3-99B6-81683B970D8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDE5299D-A193-48A9-89FE-C3444151206B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87300B30-01BD-4E56-9FDC-DE6B018FFB13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EED04421-505D-4F14-86D2-AF4664DD2602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4580C38E-414A-4A63-9835-C7687180DC03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA9A5CC0-97D9-41C2-84A6-8E3DD62803D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23473198-D164-44C6-8808-4A8F93A6791C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Fuzzy search through a lot of web search queries</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Web Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search {var:ARG} for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B873AF1-35BA-49E8-B24D-12F7FABB9DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ${URL/\{query\}/$1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C94BCEFA-1DEE-4E57-AADB-25226571390C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A16C9145-6939-48CC-8054-EF9FD220B697</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DA146CA4-790E-4E92-9EDD-61BDC877DFF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>web</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-web-searches "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search a website</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14F1C35D-3003-4E57-B6FF-6C15CCA4000A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search {var:ARG} for {query} with chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A47BFDF6-6ACA-4962-926A-ED426EDFA5E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>edit web</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Edit web searches</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7FC16DD-E9D4-42BD-BACA-959DDB472C21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4580C38E-414A-4A63-9835-C7687180DC03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/nikitavoloboev/alfred-web-searches/edit/master/workflow/websites.csv</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>44998311-C8A5-4011-AAE6-6A13032F27CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ${URL/\{query\}/$1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EED04421-505D-4F14-86D2-AF4664DD2602</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>311CADC9-01B1-4DFD-8625-A41B6D1A72F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search {var:ARG} recent for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23A8F1A5-6183-4943-84D2-D9E7B9DA9A72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ${RECENT/\{query\}/$1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B629748-2068-4345-BA43-5772F37C3013</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DD325779-BAE8-47FC-938B-8FC107AAF9D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ${URL/\{query\}/$selection}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30363A54-691F-4C41-8BB7-775A8D39897E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>25640D91-BD2C-434C-8EA4-58A0910139D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-web-searches "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>35851EE6-88B6-4D0C-9EDB-F0BFA70BB8CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>selection</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E596155-99EA-4741-93A6-2F044D5AA0CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4BF449D5-9697-4E10-A810-5005F0720FC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Web search for {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDE5299D-A193-48A9-89FE-C3444151206B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>23473198-D164-44C6-8808-4A8F93A6791C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-web-searches "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8BD35783-7FBB-4EF3-99B6-81683B970D8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ${URL/\{query\}/$selection}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA9A5CC0-97D9-41C2-84A6-8E3DD62803D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>selection</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>87300B30-01BD-4E56-9FDC-DE6B018FFB13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E64FE037-5BDA-41B1-9D90-EEE5BAE54551</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C2F200AE-7909-4604-9E4A-3AA8998FB3E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>Space</string>
				<key>keycode</key>
				<integer>49</integer>
				<key>keymod</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>5CF1F7E8-057F-4F60-9028-95DE18487EE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

Double click this workflow in sidebar -&gt; Open website.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>0B629748-2068-4345-BA43-5772F37C3013</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>14F1C35D-3003-4E57-B6FF-6C15CCA4000A</key>
		<dict>
			<key>note</key>
			<string>Search through websites</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>23473198-D164-44C6-8808-4A8F93A6791C</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>23A8F1A5-6183-4943-84D2-D9E7B9DA9A72</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>25640D91-BD2C-434C-8EA4-58A0910139D1</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>30363A54-691F-4C41-8BB7-775A8D39897E</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>311CADC9-01B1-4DFD-8625-A41B6D1A72F4</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>35851EE6-88B6-4D0C-9EDB-F0BFA70BB8CE</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>44998311-C8A5-4011-AAE6-6A13032F27CE</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>4580C38E-414A-4A63-9835-C7687180DC03</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>4BF449D5-9697-4E10-A810-5005F0720FC7</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>5CF1F7E8-057F-4F60-9028-95DE18487EE8</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>87300B30-01BD-4E56-9FDC-DE6B018FFB13</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>8BD35783-7FBB-4EF3-99B6-81683B970D8C</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>8E596155-99EA-4741-93A6-2F044D5AA0CB</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>9B873AF1-35BA-49E8-B24D-12F7FABB9DDF</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A16C9145-6939-48CC-8054-EF9FD220B697</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A47BFDF6-6ACA-4962-926A-ED426EDFA5E2</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>B7FC16DD-E9D4-42BD-BACA-959DDB472C21</key>
		<dict>
			<key>note</key>
			<string>Add more searchable websites</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C2F200AE-7909-4604-9E4A-3AA8998FB3E3</key>
		<dict>
			<key>note</key>
			<string>Edit or add to selected text</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>C94BCEFA-1DEE-4E57-AADB-25226571390C</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DA146CA4-790E-4E92-9EDD-61BDC877DFF8</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>DD325779-BAE8-47FC-938B-8FC107AAF9D0</key>
		<dict>
			<key>note</key>
			<string>Search selected text</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>E64FE037-5BDA-41B1-9D90-EEE5BAE54551</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>EDE5299D-A193-48A9-89FE-C3444151206B</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>EED04421-505D-4F14-86D2-AF4664DD2602</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>FA9A5CC0-97D9-41C2-84A6-8E3DD62803D0</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.5</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/alfred-web-searches#readme</string>
</dict>
</plist>
